beautifulsoup4==4.12.0
bs4==0.0.1
cmake==3.26.1
dbus-next==0.2.3
html-table-extractor==1.4.1
html5lib==1.1
lxml==4.9.2
PyBluez @ git+https://github.com/pybluez/pybluez.git@4d46ce14d9e888e3b0c65d5d3ba2a703f8e5e861
pycairo==1.23.0
PyGObject==3.44.1
pyobjc-core==9.0.1
pyobjc-framework-Cocoa==9.0.1
PyQt3D==5.15.5
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
six==1.16.0
soupsieve==2.4
webencodings==0.5.1
